name: Test Action

on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: 25f2008922@ds.study.iitm.ac.in
        run: echo "Hello, world!"
